Flask==2.2.5
python-docx==0.8.11
langchain==0.2.12
langchain-community==0.2.11
langchain-huggingface==0.0.3
sentence-transformers==2.6.1
transformers==4.44.2
faiss-cpu==1.7.4
tqdm==4.66.1
numpy==1.26.4
